<!DOCTYPE html>
<html>
<head>
    <script>
        // 3分後に投票画面へ
        // setTimeout("location.href='vote'",1000*60*3);
        setTimeout("location.href='vote_form'",1000*10);
    </script>
    
    <!-- リフレッシュ周期 -->
    <meta http-equiv="refresh" content="10; URL=">
</head>
<body>
    
    <br>
    プレイヤー
    <br>
    <ul class="players">
        {% for player in players %}
            <li>{{ player.name }} / {{ player.role }} / {{ player.is_alive}} / {{ player.votes }}票</li>
        {% endfor %}
    </ul>
    <form action="{{ url_for('add_player') }}" method="POST">
        <input type="text" name="name" placeholder="プレイヤー名">
        <input type="text" name="role" placeholder="役職">
        <input type="submit">
    </form>


</body>
</html>